body {
  background-color: #2b2f37;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: white;
  text-align: center;
  font-size: 60px;
}

span {
  color: white;
  font-size: 80px;
}

#button {
  font-size: 60px;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  color: red;
  background-color: yellow;
  top: 0;
  right: 0;
}

#settingBtn {
  font-size: 40px;
  color: #2b2f37
}

#settingMenu {
  font-size: 50px;
  color: yellow;
}
#settingMenu > button {
  font-size: 90px;
  color: black;
}

#yourCoins {
  text-align: left;
  font-size: 40px;
}

#clearBeads {
  font-size: 60px;
  margin-top: 1300px;
  margin-right: 2px;
  position: absolute;
  color: red;
  background-color: yellow;
  top: 0;
  right: 0;
}

#touchTimes {
  font-size: 30px;
  margin-top: 1px;
  margin-left: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

#mydiv {
  border: solid 1px white;
  border-radius: 5px;
  
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  color: #f1f1f1;
  border: solid 1px white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.shadow {
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 yellow) 
          drop-shadow(-1px -1px 0 black);
}